* {
  font-family: Iosevka Raven;
  font-size: 16px;
  color: #c2c2c2;
  padding: 0;
  margin: 10;
}

#workspaces {
  margin: 4px 0;
  padding: 26px 04px;
}
window#waybar {
  background-color: @transparent;
  color: #c2c2c2;
  border-radius: 22px;
}

#workspaces button {
  color: #5f7f6a;
}
#workspaces button.active {
  color: #1f3f2f;
  background: rgba(180, 210, 190, 0.5);
  border-radius: 26px;
}

#cpu, #memory, #battery, #clock {
  color: #c2c2c2;
}

#tray {
  opacity: 1.7;
}
#custom-notification {
  /* background-color: @bg; */
  /* color: @text; */
  /* border: 2px solid @border; */
  margin: 5px 0;
  padding: 6px 0;
  transition: all 0.25s ease;
}
