* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold; 
  font-size: 15px;
}

#custom-notification {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 17px;
  color: #A1BDCE;
  margin: 8px 2px 8px 0px;
}

window#waybar {
  background: #0F0F17; 
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 0px;
}

/* Apply pill style to all modules - adjusted for vertical */

#waybar > box > * {
    background: #1a1a22;
    padding: 0px 0px;
    margin: 2px 0px; /* margin for entire blocks */
    border-radius: 5px;
    border: 0px solid rgba(255,255,255,0.05);
}


/* Remove background for the whole bar */
window#waybar {
    background: transparent;
    border: none;
}

tooltip {
  background: #171717;
  color: #A1BDCE;
  font-size: 13px;
  border-radius: 7px;
  border: 2px solid #101a24;
}

#workspaces{
  background: rgba(23, 23, 23, 0.0);
  color: #888789;
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  transition: 0.2s ease;
  padding: 4px;
}

#workspaces button {
  background: rgba(23, 23, 23, 0.0);
  color: #A1BDCE;
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  transition: 0.2s ease;
  padding: 4px;
  margin: 2px 0px;
}

#workspaces button.active {
  color: #A1BDCE;   
  transition: all 0.3s ease;
  padding: 4px;
}

#workspaces button:hover {
  background: none;
  color: #72D792;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  font-size: 4px;
  padding: 0px;
  border-radius: 9px;
  margin: 3px 0px;
  padding: 3px;
  color: @wb-color;
  animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
  background: @wb-act-bg;
  color: @wb-act-color;
  margin: 3px 0px;
  padding: 12px 3px;
  animation: tb_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
  min-width: 9px; 
}

#taskbar button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-color;
  animation: tb_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
  min-height: 16px;
  font-weight: bold;
  font-size: 13px;
  color: #9488e3;
}

#tray menu separator {
  min-height: 10px
}

#custom-spacer{
  opacity: 0.0;
}

#custom-smallspacer{
  opacity: 0.0;
}

#custom-mouse{
  font-size: 14px;
  margin: 6px 0px;
  background: #161320;
}

#custom-power{
  font-size: 15px;
  color: #FFFFFF;
  background: rgba(22, 19, 32, 0.9);
  margin: 0px 6px;
  padding: 4px;
}

#backlight{
  color: #2096C0;
  background: rgba(23, 23, 23, 0.0);
  font-weight: normal;
  font-size: 19px;
  margin: 0px;
  padding: 2px 0px 0px 0px;
}

#bluetooth,
#custom-cliphist{
  color: #E6E7E7;
  background: #161320;
  opacity: 1;
  margin: 0px 4px;
  padding: 4px;
}

#battery {
  font-weight: normal;
  font-size: 15px;
  color: #a6d189;
  background: rgba(23, 23, 23, 0.0);
  opacity: 1;
  margin: 0;
  padding: 8px 8px;
  /* text-align: center; */
}

#idle_inhibitor{
  color: #24966e;
  background: @bar-bg;
  opacity: 1;
  margin: 0px 4px;
  padding: 4px;
}

#clock{
  color: #A1BDCE;
  font-size: 15px;
  font-weight: 900;
  font-family: "JetBrains Mono Nerd Font";
  background: rgba(23, 23, 23, 0.0);
  opacity: 1;
  margin: 0px;
  padding: 10px 0px;
  border: none;
  /* text-align: center; */
  /* line-height: 1.2; */
}

#pulseaudio{
  font-weight: normal;
  font-size: 18px;
  color: #6F8FDB;
  background: rgba(22, 19, 32, 0.0);
  opacity: 1;
  margin: 0px;
  padding: 3px;
}

#cpu{
  font-weight: normal;
  font-size: 16px;
  color: #915CAF;
  margin: 8px 0px 5px 0px;
  padding: 8px 0px;
  border-radius: 7px;
  /* text-align: center; */
}

#custom-led{
  background: #427287;
  color: #FFFFFF;
  margin: 7px 0px;
  padding: 6px 0px;
  border-radius: 7px;
}

#custom-gpuinfo,
#custom-keybindhint,
#language,
#memory {
  font-size: 14px;
  font-weight: bold;
  /* text-align: center; */
  /* line-height: 1.1; */
  padding: 4px 0;
}

#mpris{
  color: white;
  animation: repeat;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #4a4a4a;
  }
}

#network{
  color: #A1BDCE;
  font-weight: normal;
  font-size: 19px;
  padding: 10px 4px 4px 4px;
}

#custom-notifications,
#custom-spotify,
#taskbar,
#custom-theme,
#custom-menu{
  color: #E8EDF0;
  background: rgba(23, 23, 23, 0.0);
  margin: 0px;
  padding: 8px;
  opacity: 0.1
}

#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window{
  color: #A1BDCE;
  font-family: "Martian Mono";
}

#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#cava,
#upower#headset,
#upower{
  color: #a6d189;
  font-weight: normal;
  font-size: 15px;
  background: rgba(23, 23, 23, 0.0);
  opacity: 1;
  margin: 8px 0px 5px 0px;
  padding: 8px 0px;
  border-radius: 7px;
}

#mpris{
  font-size: 15px;
  font-weight: bold
}

#custom-rr_end {
  font-weight: normal;
  color: #E8EDF0;
  background: rgba(23, 23, 23, 0.0);
  opacity: 1;
  margin: 0px;
  padding: 4px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #A1BDCE;
  background-color: transparent;
  box-shadow: none;
  margin: 7px 0px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-height: 90px;
  min-width: 10px;
  border-radius: 8px;
  background: #343434;
  margin: 0px 4px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096C0;
}

#battery.charging, #battery.plugged {
  color: #a6d189;
}

#battery.critical:not(.charging) {
  color: red;
}

#taskbar {
  padding: 1px;
}

/* Style for launchers */
#custom-expand {
  min-height: 25px;
  color: #A1BDCE;
  font-size: 16px;
}

#group-minimized {
  border-top: solid;
  border-top-width: 0.5;
}

#tray {
  padding: 8px 0px;
}
